<nav class="navbar navbar-default" role="navigation">
  <div class="nav-content">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <a class="navbar-brand" id="logo-mob" href="{{ site_url('/') }}"><img src="{{ theme.logoImage.thumbnail('auto','auto') }}" alt=""/></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav text-center">
        {% if customer %}
          <li>
            <a href"/" style="color:white;">HOME</a>
          </li>
        {% else %}
        {% endif %}
        <li><a href="{{ site_url('shop') }}">THE STORE</a></li>
        <li><a href="{{ site_url('about') }}">ABOUT</a></li>
        <li><a class="navbar-brand" id="logo" href="{{ site_url('/') }}"><img src="{{ theme.logoImage.thumbnail('auto','auto') }}" alt=""/></a></li>
      {% if customer %}
        <li id="customer">
          <a href="{{ site_url('profile') }}">ACCOUNT</a>
          <a href="{{ site_url('logout') }}">LOGOUT</a>
        </li>
      {% else %}
        <li><a href="{{ site_url('login') }}">LOGIN</a></li>
      {% endif %}
        <li id="normal-cart">
          <a id="normal-carts" href="{{ site_url('cart') }}">{{ partial('shop-minicart-totals') }}</a>
        </li>
        <li id="mobile-cart">
          <a href="{{ site_url('cart') }}">CART</a>
        </li>
        <li id="mobile-cart">
          {% if customer %}
          <a href="{{ site_url('checkout') }}">CHECKOUT</a>
          {% else %}
          <a href="{{ site_url('checkout-start') }}">CHECKOUT</a>
          {% endif %}
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


