{{ code_block('setup') }}


    
    <div id="main-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 foot-box">
                    <p>The Store</p>
                    <h6>We are open all day <br> 293 Granville St <br> Vancouver Bc, J3R-1K2</h6>
                </div>
                <div class="col-md-4 foot-box">
                    <p>Contact us</p>
                    <h6>Hype Food <br> P: (728) 293-1293 <br> Mail: hype@hype.com</h6>
                </div>
                <ul class="list-unstyled col-md-4 foot-box" id="social">
                    <p>Share our story</p>
                    <a href="{{ site_url('login') }}" class="col-md-3"><li><i class="fa fa-facebook fa-2x"></i></li></a>
                    <a href="{{ site_url('contact') }}" class="col-md-3"><li><i class="fa fa-instagram fa-2x"></i></li></a>
                    <a href="{{ site_url('profile') }}" class="col-md-3"><li><i class="fa fa-twitter fa-2x"></i></li></a>
                    <a href="{{ site_url('orders') }}" class="col-md-3"><li><i class="fa fa-tumblr fa-2x"></i></li></a>
                </ul>
            </div>
        </div>
    </div>
